@page "/"
@inherits IndexBase

@if (UserClaims != null && UserClaims.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Claim Type</th>
                <th>Claim Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in UserClaims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" value="Perform Action" disabled=@(!IsPartOfGroup1Role) >Do Something</button>
}
else
{
    <p>@UnAuthorizedMessage</p>
}